@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500;900;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff3600ff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.bold_500 {
  font-style: italic;
  font-weight: 500;
}

.bold_700 {
  font-weight: 900;
}

.text_yellow {
  color: #f4c416;
}

.bg-dark {
  background: #333333ff !important;
}

.btn_black,
.btn_light,
.btn_half_red,
.btn_light_green,
.btn_sky_blue,
.btn_purple,
.btn_primary,
.btn_blue {
  padding: 10px 15px;
  font-style: italic;
  font-weight: 500;
  display: inline-block;
  text-decoration: none;
  border: none;
  text-align: center;
  border-radius: 0;
}

.btn_black {
  background: black;
  color: white;
}
.btn_light {
  background: #ededed;
  color: black;
}
.btn_half_red {
  background: #ff6969;
  color: white;
}
.btn_light_green {
  background: #ddff0a;
  color: black;
}
.btn_sky_blue {
  background: #09f0ff;
  color: black;
}
.btn_purple {
  background: #650095;
  color: white;
}
.btn_blue {
  background-color: #2f6bb2;
  color: white;
}

.btn_primary {
  background: var(--primary-color);
  color: white;
  line-height: 1.5;
}

.btn_orange {
  background: var(--primary-color);
  color: white;
  border: 2px solid var(--primary-color);
  border: 0;
}

.btn_black:hover,
.btn_light:hover,
.btn_half_red:hover,
.btn_light_green:hover,
.btn_sky_blue:hover,
.btn_purple:hover,
.btn_primary:hover,
.btn_orange:hover,
.btn_blue:hover {
  background: white;
  color: black;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  border: 0;
}

.flex_1 {
  flex: 1;
}

.navbar-brand img {
  height: 60px;
}

.nav-item {
  position: relative;
  margin: 0px 10px;
}
.nav-link {
  font-style: italic;
  color: white !important;
  font-weight: 700;
  text-transform: uppercase;
}

footer .nav-link {
  font-style: normal;
}

.nav-link.active {
  border-bottom: 2px solid var(--primary-color);
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: var(--primary-color);
  height: 2px;
  transition: all 0.2s;
}

.nav-item:hover .nav-link::before {
  width: 100%;
}

.nav-item:hover .nav-link.active {
  border: none;
}

/* hero section  */

.hero-section {
  min-height: 50vh;
  padding: 6em 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/bghero.jpg") center center/cover;
}

.hero-section iframe {
  height: 450px;
  max-width: 350px;
  width: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
}

.featured_box {
  background: white;
  padding: 40px 20px;
  box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
}

.featured_child {
  position: relative;
}

.featured_top {
  border: 2px solid #c5c5c5;
  border-radius: 50%;
  font-size: 40px;
  color: var(--primary-color);
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}

.featured_body {
  text-align: center;
}

.featured_top_box {
  position: relative;
}

.featured_sub .line {
  position: absolute;
  top: 45%;
  border-top: 1px dashed black;
}

.featured-section {
  margin-top: -3em;
}

.challenge-box {
  position: relative;
}

.entry-fee {
  position: relative;
  display: block;
  margin: 24px 0;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.entry-bg {
  display: block;
  background: var(--primary-color);
  width: 80%;
  padding: 22px;
  position: absolute;
  left: -16px;
  top: -7px;
  border-top-right-radius: 50px;
  z-index: -1;
  border-bottom-right-radius: 50px;
}

.challenge-cta a {
  font-size: 40px;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sponsors img {
  border-radius: 10px;
  max-width: 180px;
  width: 100%;
  margin: 5px;
}

.number_fact_parent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.number_fact_parent .number_fact_child .number_child_body {
  padding: 20px;
  color: white;
  text-align: center;
  margin-top: -104px;
  z-index: -1;
  min-height: 180px;
}

.number_fact_parent .number_fact_child .number_child_body h3 {
  font-size: 45px;
  font-style: italic;
  font-weight: 900;
}

.number_fact_child .number_child_body.one {
  background: #00adb5;
}
.number_fact_child .number_child_body.two {
  background: #ef5d5c;
}
.number_fact_child .number_child_body.three {
  background: #f3a018;
}
.number_fact_child .number_child_body.four {
  background: #2cb34a;
}

.number_fact_section_title {
  text-transform: uppercase;
  color: #1e3640;
}

.hexabox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.hexabox .hexa {
  background: black;
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
  width: 15px;
  height: 15px;
  margin: 0 6px;
}

.hexabox .hexa.one {
  background: #00adb5;
}
.hexabox .hexa.two {
  background: #ef5d5c;
}
.hexabox .hexa.three {
  background: #f3a018;
}
.hexabox .hexa.four {
  background: #2cb34a;
}

.text-lines {
  width: 100px;
  height: 4px;
  margin: 0 10px;
  background: #1e3640;
}

.text-line-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

footer {
  background: black;
  padding: 2rem 0;
}

.about p {
  color: #2f2f2f;
}

.single-button-group {
  padding: 2rem 0;
}

.whatsapp-btn,
.enter-now-btn,
.submit-evidence-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-weight: 900;
  text-align: center;
  border-radius: 4px;
  margin: 10px;
  height: 100px;
  font-style: 18px;
  text-transform: uppercase;
}

.whatsapp-btn {
  background: #2cb34a;
}

.enter-now-btn {
  background: #333;
}

.submit-evidence-btn {
  background: #ff6969;
}

.whatsapp-btn:hover,
.enter-now-btn:hover,
.submit-evidence-btn:hover {
  color: black;
  background: white;
  transition: all 0.2s;
  box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.15);
}

.gallery-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery-child {
  margin: 10px;
}

.description-area {
  padding: 1rem 0;
}

.description-area .description-box {
  max-height: 600px;
  overflow-y: scroll;
}

.contact-container {
  padding: 2rem;
}
.contact-left {
  text-align: center;
}

.contact-left img {
  width: 70%;
}

.contact-right h2 {
  font-size: 90px;
  line-height: 100%;
  font-weight: 900;
  font-style: italic;
  color: #f15a29;
}

.contact-social img {
  width: 35px;
  margin: 5px;
}

.faq-section {
  min-height: 35vh;
  background: #ffebe6;
  border-bottom: 10px solid #333333;
  position: relative;
}

.faq-section::before {
  content: "";
  position: absolute;
  bottom: -35px;
  width: 100%;
  height: 20px;
  background-color: var(--primary-color);
}

.faq-form form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  padding: 20px;
}

.faq-form form input {
  background: transparent;
  border: 2px solid var(--primary-color);
  padding: 10px 15px;
  width: 100%;
  outline: none;
  border-radius: 50px;
  background: white;
}

.faq-left img {
  position: absolute;
  bottom: 0;
  height: 32vh;
  width: 250px;
  left: 10%;
}

.faq-right {
  padding: 4rem 0;
}

.text_primary {
  color: var(--primary-color);
}

.ask-button {
  position: fixed;
  right: -75px;
  top: 50%;
  padding: 10px 15px;
  font-style: italic;
  font-weight: 900;
  display: inline-block;
  text-decoration: none;
  border: none;
  text-align: center;
  border-radius: 0;
  transform: rotate(-90deg);
  background: var(--primary-color);
  color: white;
  font-size: 26px;
  z-index: 100;
}

.faq-child {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.faq-body {
  color: var(--primary-color);
  transform: translateY(-10px);
  height: 0;
  user-select: none;
  opacity: 0;
  pointer-events: none;
}
.faq-body.active {
  transition: all 0.2s;
  transition-delay: 0.1s;
  transform: translateY(0px);
  height: auto;
  user-select: all;
  opacity: 1;
  pointer-events: auto;
}

.read_ans,
.healpful_faq,
.unhealpful_faq {
  padding: 7px 15px;
  display: inline-block;
  border: 1px solid var(--primary-color);
  text-decoration: none;
  color: black;
  margin: 5px;
  background: transparent;
  margin-left: 0;
  transition: background 0.2s;
}

.read_ans:hover,
.healpful_faq:hover,
.unhealpful_faq:hover {
  background: var(--primary-color);
  color: white;
}

.faqBtnActive {
  background: var(--primary-color);
  color: white;
}

/* knowledge base page  */
.kb_box {
  position: relative;
}

.kb_folder_icon {
  position: absolute;
  top: 5px;
  left: -25px;
}

.deco__none {
  text-decoration: none;
}

/* bread cumb  */

.breadcrumb-item a {
  color: black;
}

.breadcrumb-item a,
.breadcrumb-item.active {
  padding-left: 0.5rem;
  font-size: 20px;
  text-decoration: none;
  font-weight: 700;
}

.breadcrumb-item + .breadcrumb-item::before {
  font-size: 23px;
}

/* evidence page  */
.single__evidence {
  position: relative;
}

.season__name {
  background: var(--primary-color);
  color: white;
  padding: 10px 15px;
  display: block;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  position: absolute;
  left: -75px;
  top: 35px;
  transform: rotate(270deg);
}

.evidence__parent__box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-gap: 20px 60px;
}

.evidence__parent__box .submit__form {
  grid-column: 3 / 5;
  grid-row: 2 / 10;
  margin: 0;
  width: calc(100% + 41px);
  left: -41px;
  position: relative;
}

@media screen and (max-width: 991px) {
  .nav-link.active {
    color: var(--primary-color) !important;
    border: none;
  }
  .sponsors img {
    max-width: 150px;
  }
  .number_fact_parent {
    flex-wrap: wrap;
  }
  .number_fact_parent .number_fact_child {
    width: calc(50% - 10px);
    margin: 5px;
  }
  .text-lines {
    display: none;
  }

  .evidence__parent__box {
    grid-template-columns: repeat(2, 1fr);
  }
  .evidence__parent__box .submit__form {
    grid-column: 1 / span 2;
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .sponsors img {
    max-width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .navbar-brand img {
    height: 40px;
  }
  .nav-link {
    font-size: 0.9em !important;
  }
  .challenge-cta a {
    font-size: 22px;
  }
  .number_fact_parent .number_fact_child {
    width: calc(100% - 10px);
  }
  .featured_body p {
    margin-bottom: 0;
  }
  .read_ans,
  .healpful_faq,
  .unhealpful_faq {
    font-size: 12px;
  }
  .kb_folder_icon {
    position: unset;
  }
  .evidence__parent__box {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
  .season__name {
    position: relative;
    top: auto;
    left: auto;
    transform: rotate(0);
  }
}

@media screen and (max-width: 768px) {
  .featured_sub .line {
    bottom: -8px !important;
    left: calc(69% - 47px) !important;
    transform: translateX(-50%);
    top: auto !important;
    transform: rotate(90deg);
    width: 47px !important;
  }
  .featured-section .col-md-3 {
    margin-bottom: 30px;
  }
  .featured_body {
    text-align: left;
    align-items: start !important;
  }
  .whatsapp-btn,
  .enter-now-btn,
  .submit-evidence-btn {
    font-size: 15px !important;
  }
  .ask-button {
    bottom: 0;
    transform: rotate(0);
    top: auto;
    right: 0;
    font-size: 16px;
    background: #ff36004f;
    color: black;
  }
}

.gallery-single .carousel-inner {
  height: 400px;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80%;
  }
}
